/* layout */
body {
  background-color:#444444 ;
  font-size: 20px;
  color: #fff;
}


nav{
    background: #00A86B;
    position: fixed;
    display: block;
    float: left;
    width: 30%;
    height: 100%;
    padding: 50px;
    top:0;
    left:0;
    text-align:center;
}

object{
    display: block;
    float: right;
    width: 70%;
    height: 100%; 

    right: 0;
    top: 0;
}

/*style*/
h1, h2, h3{
    text-align: center;
    font-weight: bold;
    color: #FFF;
}
h1{font-size:50px;}
h2{font-size:30px;}

p {
  color: #FFF;
}
a{
    color: #fff;


}

.button {
  width: 200px;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 100%;
  background: #00A86B;
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 10px;
}

.button:hover {
  color: #FFF;
  background: #FFD362;
  border: 1px solid #fff;
}


.button:focus {
  color: #FFF;
  background: #FFD362;
  border: 1px solid #fff;
}


